.section-about {

    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        & {
            width: 1000px;
            margin: 0 auto;
            padding: 30px 50px 50px;

            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
        }

        .body {
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
            align-items: center;

            p {
                flex: 1 1 0;
                width: 0;
            }

            picture {
                flex: 1 1 0;
                width: 0;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {
        & {
            width: 100%;
            padding: 20px;
            gap: 30px;
        }

        .body {
            flex-direction: column;
            align-items: stretch;
            gap: 30px;

            p,
            picture {
                width: 100%;
            }

            p {}

            picture {}
        }
    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 1000px) {
        & {
            width: 100%;
        }

        .body {
            p {}

            img {}
        }
    }

    // * Empty
    @media (min-width: 10000000px) {
        & {}

        .body {
            p {}

            img {}
        }
    }
}