.section-bundle_banner {
    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        & {
            display: flex;
            flex-direction: row;
            width: 100vw;
            padding: 20px;
            background-image: var(--gradient-sky);
            margin-bottom: 30px;
        }

        .head,
        .body {
            flex: 1 1 0;
            width: 0;
        }

        .head {
            padding: 20px 20px 20px 50px;

            h2 {

            }
        }

        .body {
            padding: 20px 50px 20px 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .list {
                padding: 0 0 0 30px;

                .item {
                    &-1 {}
                    &-2 {}
                    &-3 {}
                    &-4 {}
                    &-5 {}
                    &-6 {}

                    p {
                        
                    }
                }
            }

            .btn-continue {
                background-color: var(--color-primary);
                text-transform: uppercase;
                font-size: 2.1875rem;
                font-family: var(--font-1);
                font-weight: bold;
                color: var(--color-white-1);
                border: none;
                padding: 20px 0px;
                display: block;
                width: 100%;
                transition: 0.5s background-color;
                max-width: 350px;
                text-align: center;

                &:hover {
                    background-color: var(--color-primary-lighter);
                }
            }
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {
        & {
            flex-direction: column;
        }

        .head,
        .body {
            width: 100%;
            padding: 20px;
        }

        .head {
            h2 {

            }
        }

        .body {
            .list {
                .item {
                    &-1 {}
                    &-2 {}
                    &-3 {}
                    &-4 {}
                    &-5 {}
                    &-6 {}

                    p {

                    }
                }
            }

            .btn-continue {
                padding: 10px 0px;
            }
        }
    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 1200px) {
        & {
            flex-direction: column;
        }

        .head,
        .body {
            width: 100%;
            padding: 20px;
        }

        .head {
            h2 {

            }
        }

        .body {
            .list {
                .item {
                    &-1 {}
                    &-2 {}
                    &-3 {}
                    &-4 {}
                    &-5 {}
                    &-6 {}

                    p {

                    }
                }
            }
        }
    }

    // * Empty
    @media (min-width: 10000000px) {
        & {}

        .head {
            h2 {

            }
        }

        .body {
            .list {
                .item {
                    &-1 {}
                    &-2 {}
                    &-3 {}
                    &-4 {}
                    &-5 {}
                    &-6 {}

                    p {

                    }
                }
            }
        }
    }
}