.section-content_cards {

    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        & {
            width: 1200px;
            margin: 0 auto;
            padding: 50px 50px 50px 50px;
        }

        .list {
            display: flex;
            flex-direction: row;
            gap: 30px;

            .item {
                flex: 1 1 0;
                width: 0;
                list-style-type: none;

                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 20px;
                // background-color: var(--color-container-1);
                background-color: var(--color-white);
                // box-shadow: 0 5px 5px var(--color-black-1);
                box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);

                &-movies {}

                &-music {}

                &-games {}

                &-audibooks {}

                .img {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 120px;
                        height: 120px;
                        fill: #ccf1fc;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    text-align: center;

                    h3 {
                        font-size: 1.25rem;
                    }

                    p {
                        font-size: 0.82rem;
                    }
                }
            }
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {
        & {
            width: 100%;
            padding: 50px 20px 50px 20px;
        }

        .list {
            flex-direction: column;

            .item {
                width: 100%;

                &-movies {}

                &-music {}

                &-games {}

                &-audibooks {}

                .img {
                    i {}
                }

                .text {
                    h3 {}

                    p {}
                }
            }
        }
    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 1000px) {
        & {
            width: 100%;
        }

        .list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .item {
                width: 100%;

                &-movies {}

                &-music {}

                &-games {}

                &-audibooks {}

                .img {
                    i {}
                }

                .text {
                    h3 {}

                    p {}
                }
            }
        }
    }


    // * Mid-tablet Size
    @media (min-width: 990px) and (max-width: 1200px) {
        & {
            width: 100%;
        }

        .list {
            .item {
                &-movies {}

                &-music {}

                &-games {}

                &-audibooks {}

                .img {
                    i {}
                }

                .text {
                    h3 {}

                    p {}
                }
            }
        }
    }

    // * Empty
    @media (min-width: 10000000px) {
        & {}

        .list {
            .item {
                &-movies {}

                &-music {}

                &-games {}

                &-audibooks {}

                .img {
                    i {}
                }

                .text {
                    h3 {}

                    p {}
                }
            }
        }
    }
}