.section-features {
    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        & {
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            width: 1000px;
            margin: 0 auto;
            padding: 50px 50px;
        }

        .cards {
            .list {
                display: flex;
                flex-direction: row;
                gap: 20px;
                justify-content: center;
                min-height: 270px;
                position: relative;
                align-items: stretch;

                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    justify-content: flex-start;
                    padding: 20px;
                    flex: 1 1 0px;
                    width: 0;
                    background-color: var(--color-container-1);
                    // TODO Fix me
                    // box-shadow: 0 5px 5px var(--color-black-1);
                    box-shadow: 0px 3px 5px #888888;
                    color: var(--color-text-2);

                    &-secure {}

                    &-premium {}

                    &-all_device {}

                    .head {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        justify-content: flex-start;
                        align-items: center;

                        svg {
                            width: 40px;
                            height: 40px;
                            fill: #b0b7ca;
                        }

                        h3 {
                            font-size: 1.25rem;
                            font-weight: bold;
                        }
                    }

                    .body {
                        p {
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }

        .button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .btn-continue {
                background-color: var(--color-primary);
                text-transform: uppercase;
                font-size: 2.1rem;
                font-family: var(--font-1);
                font-weight: bold;
                color: var(--color-white-1);
                border: none;
                padding: 20px 90px;
                transition: 0.5s all;
                text-align: center;

                &:hover {
                    background-color: var(--color-primary-lighter);
                }
            }
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {
        & {
            width: 100%;
            padding: 20px;
        }

        .cards {
            .list {
                flex-direction: column;
                align-items: stretch;
                gap: 30px;

                .item {
                    padding: 20px 15px;
                    gap: 15px;
                    width: 100%;

                    &-secure {}

                    &-premium {}

                    &-all_device {}

                    .head {
                        gap: 10px;

                        i {
                            font-size: 1.55rem;
                        }

                        h3 {
                            font-size: 1.125rem;
                        }
                    }

                    .body {
                        p {}
                    }
                }
            }
        }

        .button {
            .btn-continue {
                padding: 10px 50px;
            }
        }
    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 1000px) {
        & {
            width: 100%;
        }

        .cards {
            .list {
                .item {
                    padding: 20px 15px;
                    gap: 15px;

                    &-secure {}

                    &-premium {}

                    &-all_device {}

                    .head {
                        gap: 10px;

                        i {
                            font-size: 1.55rem;
                        }

                        h3 {
                            font-size: 1.125rem;
                        }
                    }

                    .body {
                        p {}
                    }
                }
            }
        }

        .button {
            .btn-continue {}
        }
    }

    // * Empty
    @media (min-width: 10000000px) {
        & {}

        .cards {
            .list {
                .item {
                    &-secure {}

                    &-premium {}

                    &-all_device {}

                    .head {
                        i {}

                        h3 {}
                    }

                    .body {
                        p {}
                    }
                }
            }
        }

        .button {
            .btn-continue {}
        }
    }
}