.section-hero {
    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        & {
            min-height: 100vh;
            // padding-top: 50px;
            padding: 50px 20px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 100px;

            background-image: url("../img/pages/home/bg-hero.webp");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100vw;
        }

        .intro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .txt-title {
                font-family: var(--font-1);

                &-1 {}

                &-2 {
                    display: none;
                }
            }

            .txt-subtitle {
                font-size: 22px;
            }

            .btn-continue {
                background-color: var(--color-primary);
                text-transform: uppercase;
                font-size: 35px;
                font-family: var(--font-1);
                font-weight: bold;
                color: var(--color-white-1);
                border: none;
                padding: 20px 90px;
                transition: 0.5s all;

                &:hover {
                    background-color: var(--color-primary-lighter);
                }
            }

            .txt-compatibility {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 7px;
                font-size: 18px;

                &-1 {}

                &-2 {
                    display: none;
                }

                .green_dot {
                    display: block;
                    width: 12px;
                    height: 12px;
                    background-color: var(--color-primary);
                    border-radius: 50%;
                }
            }
        }

        .content_type {
            .list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .item {
                    list-style-type: none;
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: stretch;
                    text-align: center;
                    gap: 10px;

                    &-movies {}

                    &-music {}

                    &-games {}

                    &-audiobooks {}

                    i {
                        font-size: 50px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    p {
                        text-transform: uppercase;
                    }
                }
            }
        }

        .steps {
            .txt-instructions {
                display: none;
            }

            .list {
                display: flex;
                flex-direction: row;
                gap: 100px;

                .item {
                    list-style-type: none;
                    width: 200px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    &-1 {}

                    &-2 {}

                    &-3 {}

                    .step_number {
                        width: 50px;
                        height: 50px;
                        background-color: var(--color-primary);
                        border-radius: 50%;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        span {
                            font-size: 28px;
                            color: var(--color-white-1);
                        }
                    }

                    .step_text {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {
        & {
            background-image: none;
            gap: 30px;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "steps"
                "intro"
                "content_type";
        }

        .intro {
            grid-area: intro;

            .txt-title {
                &-1 {
                    display: none;
                }

                &-2 {
                    display: block;
                }
            }

            .txt-subtitle {
                font-size: 20px;
                display: none;
            }

            .btn-continue {
                padding: 10px 50px;
            }

            .txt-compatibility {
                &-1 {
                    display: none;
                }

                &-2 {
                    display: flex;
                }

                .green_dot {}
            }
        }

        .content_type {
            grid-area: content_type;

            .list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                width: 100vw;
                gap: 0px;

                .item {
                    border: solid 1px var(--color-white-2);
                    width: 100%;
                    padding: 20px 0;
                    background-color: var(--color-container-1);

                    &-movies {}

                    &-music {}

                    &-games {}

                    &-audiobooks {}

                    i {
                        padding: 20px 0;
                    }

                    p {}
                }
            }
        }

        .steps {
            grid-area: steps;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 40px;

            .txt-instructions {
                display: block;
                text-align: center;
                font-size: 20px;
            }

            .list {
                justify-content: center;
                gap: 10px;

                .item {
                    width: 100%;

                    &-1 {}

                    &-2 {}

                    &-3 {}

                    .step_number {
                        width: 30px;
                        height: 30px;

                        span {
                            font-size: 18px;
                        }
                    }

                    .step_text {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 992px) {
        .intro {
            .txt-title {
                &-1 {}

                &-2 {}
            }

            .txt-subtitle {
                font-size: 20px;
            }

            .btn-continue {}

            .txt-compatibility {
                &-1 {}

                &-2 {}

                .green_dot {}
            }
        }

        .content_type {
            .list {
                .item {
                    &-movies {}

                    &-music {}

                    &-games {}

                    &-audiobooks {}

                    i {}

                    p {}
                }
            }
        }

        .steps {
            .txt-instructions {}

            .list {
                gap: 20px;

                .item {
                    width: 150px;

                    &-1 {}

                    &-2 {}

                    &-3 {}

                    .step_number {
                        span {}
                    }

                    .step_text {}
                }
            }
        }
    }

    // * Empty
    @media (min-width: 10000000px) {
        .intro {
            .txt-title {
                &-1 {}

                &-2 {}
            }

            .txt-subtitle {}

            .btn-continue {}

            .txt-compatibility {
                &-1 {}

                &-2 {}

                .green_dot {}
            }
        }

        .content_type {
            .list {
                .item {
                    &-movies {}

                    &-music {}

                    &-games {}

                    &-audiobooks {}

                    i {}

                    p {}
                }
            }
        }

        .steps {
            .txt-instructions {}

            .list {
                .item {
                    &-1 {}

                    &-2 {}

                    &-3 {}

                    .step_number {
                        span {}
                    }

                    .step_text {}
                }
            }
        }
    }
}