.section-hero {
    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        & {
            // min-height: 100vh;
            // padding-top: 50px;
            padding: 220px 20px 50px 20px;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            gap: 100px;
            position: relative;
            width: 100vw;

            // background-image: url("../img/section_hero-bg.png");
            // background-repeat: no-repeat;
            // background-position: center;
            // background-size: 100vw;
        }

        .intro,
        .content_type,
        .steps {
            position: relative;
            z-index: 1;
        }

        .intro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .txt-title {
                font-family: var(--font-1);
                font-size: 2.5rem;
                text-align: center;
                font-weight: 400;

                &-1 {}

                &-2 {
                    display: none;
                }
            }

            .txt-subtitle {
                font-size: 1.4rem;
            }

            .btn-continue {
                background-color: var(--color-primary);
                text-transform: uppercase;
                font-size: 2.2rem;
                font-family: var(--font-1);
                font-weight: bold;
                color: var(--color-white-1);
                border: none;
                padding: 20px 0px;
                display: block;
                width: 100%;
                transition: 0.5s background-color;
                max-width: 350px;
                text-align: center;
                
                &:hover {
                    background-color: var(--color-primary-lighter);
                }
            }

            .txt-compatibility {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 7px;
                font-size: 1.2rem;

                &-1 {}

                &-2 {
                    display: none;
                }

                .green_dot {
                    display: block;
                    width: 12px;
                    height: 12px;
                    background-color: var(--color-green);
                    border-radius: 50%;
                }
            }
        }

        .content_type {
            .list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .item {
                    list-style-type: none;
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: 10px;

                    &-movies {}

                    &-music {}

                    &-games {}

                    &-audiobooks {}

                    svg {
                        width: 50px;
                        height: 50px;
                        fill: #a09f9f;
                    }

                    p {
                        text-transform: uppercase;
                    }
                }
            }
        }

        .steps {
            .txt-instructions {
                display: none;
            }

            .list {
                display: flex;
                flex-direction: row;
                gap: 100px;

                .item {
                    list-style-type: none;
                    width: 200px;

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;

                    &-1 {}

                    &-2 {}

                    &-3 {}

                    .step_number {
                        width: 50px;
                        height: 50px;
                        // background-color: var(--color-primary);
                        background-color: #b6b6b6;
                        border-radius: 50%;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        span {
                            font-size: 1.7rem;
                            color: var(--color-white-1);
                        }
                    }

                    .step_text {
                        font-size: 1.3rem;
                        text-align: center;
                    }
                }
            }
        }

        .img-bg {
            position: absolute;
            z-index: 0;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            
            img {
                width: 100%;
                height: auto;    
            }
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {
        & {
            background-image: none;
            gap: 30px;
            padding: 30px 0px 50px 0px;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "steps"
                "intro"
                "content_type";
        }

        .intro {
            grid-area: intro;
            padding: 0px 20px 0px 20px;

            .txt-title {
                font-size: 1.8rem;

                &-1 {
                    display: none;
                }

                &-2 {
                    display: block;
                }
            }

            .txt-subtitle {
                font-size: 1.3rem;
                display: none;
            }

            .btn-continue {
                padding: 10px 0px;
            }

            .txt-compatibility {
                font-size: 0.95rem;

                &-1 {
                    display: none;
                }

                &-2 {
                    display: flex;
                }

                .green_dot {}
            }
        }

        .content_type {
            grid-area: content_type;

            .list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                // width: calc(100vw - 40px);
                width: 100vw;
                gap: 0px;
                margin: 0;

                .item {
                    border: solid 1px var(--color-white-2);
                    width: 100%;
                    padding: 20px 0;
                    background-color: var(--color-container-1);

                    &-movies {}

                    &-music {}

                    &-games {}

                    &-audiobooks {}

                    i {
                        padding: 20px 0;
                    }

                    p {}
                }
            }
        }

        .steps {
            grid-area: steps;
            padding: 0px 20px 0px 20px;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 20px;

            .txt-instructions {
                display: block;
                text-align: center;
                font-size: 1.3rem;
            }

            .list {
                justify-content: center;
                gap: 10px;

                .item {
                    flex: 1 1 0px;
                    width: 0;

                    &-1 {}

                    &-2 {}

                    &-3 {}

                    .step_number {
                        width: 30px;
                        height: 30px;
                        background-color: #b6b6b6;

                        span {
                            font-size: 1.1rem;
                        }
                    }

                    .step_text {
                        font-size: 0.875rem;
                    }
                }
            }
        }

        .img-bg {
            display: none;
        }
    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 992px) {
        .intro {
            .txt-title {
                &-1 {}

                &-2 {}
            }

            .txt-subtitle {
                font-size: 1.25rem;
            }

            .btn-continue {}

            .txt-compatibility {
                &-1 {}

                &-2 {}

                .green_dot {}
            }
        }

        .content_type {
            .list {
                .item {
                    &-movies {}

                    &-music {}

                    &-games {}

                    &-audiobooks {}

                    i {}

                    p {}
                }
            }
        }

        .steps {
            .txt-instructions {}

            .list {
                gap: 20px;

                .item {
                    width: 150px;

                    &-1 {}

                    &-2 {}

                    &-3 {}

                    .step_number {
                        span {}
                    }

                    .step_text {}
                }
            }
        }
    }

    // * Empty
    @media (min-width: 10000000px) {
        .intro {
            .txt-title {
                &-1 {}

                &-2 {}
            }

            .txt-subtitle {}

            .btn-continue {}

            .txt-compatibility {
                &-1 {}

                &-2 {}

                .green_dot {}
            }
        }

        .content_type {
            .list {
                .item {
                    &-movies {}

                    &-music {}

                    &-games {}

                    &-audiobooks {}

                    i {}

                    p {}
                }
            }
        }

        .steps {
            .txt-instructions {}

            .list {
                .item {
                    &-1 {}

                    &-2 {}

                    &-3 {}

                    .step_number {
                        span {}
                    }

                    .step_text {}
                }
            }
        }
    }
}