.section-terms {
    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        & {
            padding: 0 50px 50px 50px;
            width: 1200px;
            margin: 0 auto;
        }

        .text {
            p {
                font-size: 0.8rem;
            }
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {
        & {
            padding: 20px 20px 50px 20px;
            width: 100%;
        }

        .text {
            p {
            }
        }
    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 1200px) {
        & {
            padding: 20px 20px 50px 20px;
            width: 100%;
        }

        .text {
            p {
            }
        }
    }

    // * Empty
    @media (min-width: 10000000px) {
        & {

        }

        .text {
            p {

            }
        }
    }
}