.popup-register {
    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        position: absolute;
        background-color: white;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%,-50%);
        
        &.popup-hidden {
            opacity: 0;
            z-index: -1;
        }

        &.popup-showing {
            opacity: 1;
            z-index: 200;
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {

    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 1000px) {

    }

    // * Empty
    @media (min-width: 10000000px) {
        & {}

        .text {
            .head {
                p {
                    span {

                    }
                }
            }

            .body {
                ol {
                    li {
                        &.item-done {

                        }

                        &.item-not-done {

                        }

                        .number {
                            span {}
                        }

                        .text {
                            p {}
                        }
                    }
                }
            }
        }

        .form {
            .label {
                p {

                }
            }
            form {
                .input {
                    &-email {}
                    &-password {}
                    .continue {

                    }
                }
            }
            .disclaimer {
                p {}
            }
        }
    }
}

.blur_filter {
    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        position: absolute;
        background-color: black;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        
        &.blur_filter-hidden {
            z-index: -1;
            opacity: 0;
        }

        &.blur_filter-showing {
            z-index: 150;
            opacity: 0.5;
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {

    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 1000px) {

    }

    // * Empty
    @media (min-width: 10000000px) {

    }
}