// * Abstracts
@import "abstracts/variables";
@import "abstracts/typography";

// * Testing
html {
    body {

        // -* Adding borders to all components for easier box-styling
        &,
        * {
            // border: dashed 1px red;
        }

        // -* By default
        section {
            // height: 100vh;
            // background-color: black;
            // color: white;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
        }
    }
}

html {
    body {
        #svg-icons {
            width: 0;
            height: 0;
            position: absolute;
            opacity: 0;
            z-index: -1;
        }

        .btn-continue, .popup-trigger {
            cursor: pointer;
            text-decoration: none;
        }
    }
}

// * Overall Styling
html {
    scroll-behavior: auto !important;
    font-size: 16px;
    font-family: var(--font-2);
    overflow-x: hidden;

    body {

        // -* Removing default margin+padding and establishing border-box box-sizing for easier box-styling
        &,
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        // -* Making sure page fills the entire viewport
        width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;
    }
}

// * Universal Classes {
html {
    body {
        .txt-bold {
            font-weight: bold;
        }
    }
}

// * Importing site-wide partials
html {
    body {
        @import "partials/macro/Header";
        @import "partials/macro/Footer";
        // @import "partials/Footer";
    }
}

// * Importing pop-ups
html {
    body {
        @import "partials/popups/register";
        // @import "partials/Footer";
    }
}

// * Managing the full-body filter when modals/pop-ups/slider show
html {
    body {
        &.disable-scroll {
            overflow-y: hidden;
        }

        // Need this so that filter will cover the entire page
        position: relative;

        .filter {
            width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: black;
            transition: 0.35s opacity;

            &-hidden {
                z-index: -1;
                opacity: 0;
            }

            &-fade_in {
                z-index: 50;
                opacity: 0;
            }

            &-fade_out {
                z-index: 50;
                opacity: 0;
            }

            &-show {
                z-index: 50;
                opacity: 0.7;
            }

        }
    }
}

// * Import pages
html {
    body {
        @import "partials/pages/Home/Home";
        // @import "pages/Terms & Conditions/TnC";
    }
}

// * Make page flex-box
html {
    body {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        main {
            flex-grow: 1;
        }
    }
}

// * Hero Section Left and Right SVG Backgrounds Saturate
html {
    body {
        #section_hero-bg_left {
            filter: saturate(0%);
        }

        #section_hero-bg_right {
            filter: saturate(0%);
        }
    }
}