@font-face {
    font-family: 'ProximaNova';
    src: url('/fonts/ProximaNova.woff2') format('woff2'),
            url('/fonts/ProximaNova.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}