.section-bundle_banner {
    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        & {
            display: flex;
            flex-direction: row;
            width: 100vw;
            padding: 20px;
            background-image: var(--gradient-sky);
        }

        .head,
        .body {
            flex: 1 1 0;
            width: 0;
        }

        .head {
            padding: 20px 20px 20px 50px;

            h2 {

            }
        }

        .body {
            padding: 20px 50px 20px 20px;

            .list {
                padding: 0 0 0 30px;

                .item {
                    &-1 {}
                    &-2 {}
                    &-3 {}
                    &-4 {}
                    &-5 {}
                    &-6 {}

                    p {
                        
                    }
                }
            }
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {

    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 1000px) {

    }

    // * Empty
    @media (min-width: 10000000px) {
        & {}

        .head {
            h2 {

            }
        }

        .body {
            .list {
                .item {
                    &-1 {}
                    &-2 {}
                    &-3 {}
                    &-4 {}
                    &-5 {}
                    &-6 {}

                    p {

                    }
                }
            }
        }
    }
}