.section-content {

    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        & {}

        .list {
            display: flex;
            flex-direction: column;
            gap: 50px;

            .item {
                display: flex;
                background-image: var(--gradient-sky);

                &-movies {}

                &-music {}

                &-games {}

                &-audiobooks {}

                &-movies,
                &-games {
                    flex-direction: row;
                }

                &-music,
                &-audiobooks {
                    flex-direction: row-reverse;
                }

                .text,
                .image {
                    flex: 1 1 0px;
                    width: 0;
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 50px;

                    h3 {}

                    p {}
                }

                .image {
                    // width: 500px;
                    // width: 100vw;
                    flex: 1 1 0px;
                    width: 0;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {}

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 1000px) {}

    // * Empty
    @media (min-width: 10000000px) {
        & {}

        .list {
            .item {
                &-movies {}

                &-music {}

                &-games {}

                &-audiobooks {}

                &-movies,
                &-games {}

                &-music,
                &-audiobooks {}

                .text {
                    h3 {}

                    p {}
                }

                .image {
                    img {}
                }
            }
        }
    }
}