<div class="popup-register popup-hidden">
    <div class="text">
        <div class="head">
            <p>Access your content <span class="txt-bold">in 3 easy steps</span></p>
        </div>
        <div class="body">
            <ol>
                <li class="item-done">
                    <div class="number">
                        <span>1</span>
                    </div>
                    <div class="text">
                        <p>Create your free account</p>
                    </div>
                </li>
                <li class="item-not-done">
                    <div class="number">
                        <span>2</span>
                    </div>
                    <div class="text">
                        <p>Verify your account with a credit card</p>
                    </div>
                </li>
                <li class="item-not-done">
                    <div class="number">
                        <span>3</span>
                    </div>
                    <div class="text">
                        <p>Access your content</p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="form">
        <div class="label">
            <p>Create your free account</p>
        </div>
        <form action="">
            <input class="input-email input" type="email">
            <input class="input-password input" type="password">
            <button class="continue" type="button"></button>
        </form>
        <div class="disclaimer">
            <p>By clicking the button you agree with the Terms & Conditions and the Privacy Policy</p>
        </div>
    </div>
</div>