.footer {

    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        & {
            background-color: var(--color-footer);
        }

        * {
            color: var(--color-footer-text);
            font-size: 0.875rem;
            text-decoration: none;
        }

        .container {
            padding: 50px 20px;
            width: 970px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 30px;

            .copyright {}

            .links-1 {
                display: flex;
                flex-direction: row;
                gap: 30px;

                li {
                    a {}
                }
            }

            .links-2 {
                margin-left: auto;
                display: flex;
                flex-direction: row;
                gap: 30px;

                li {
                    &:nth-child(1) {
                        list-style-type: none;
                    }

                    a {}
                }
            }

        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {
        li {
            list-style-type: none;
        }

        .container {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: "links-1"
            "links-2"
            "copyright";
            justify-content: center;
            justify-items: center;

            .copyright {
                grid-area: copyright;
            }
            
            .links-1 {
                grid-area: links-1;
                flex-direction: column;
                align-items: center;

                li {
                    a {}
                }
            }

            .links-2 {
                grid-area: links-2;
                margin-left: 0;
                flex-direction: column;
                align-items: center;

                li {
                    a {}
                }
            }
        }
    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 970px) {
        & {}

        .container {
            display: grid;
            width: 100%;
            grid-template-columns: auto auto;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "copyright links-1"
            "links-2 links-2";
            justify-content: center;
            justify-items: center;

            .copyright {
                grid-area: copyright;
            }
            
            .links-1 {
                grid-area: links-1;
                li {
                    a {}
                }
            }

            .links-2 {
                grid-area: links-2;
                margin-left: 0;

                li {
                    a {}
                }
            }
        }
    }

    // * Empty
    @media (min-width: 10000000px) {
        & {}

        .container {
            .copyright {}

            .links-1 {
                li {
                    a {}
                }
            }

            .links-2 {
                li {
                    a {}
                }
            }
        }
    }
}