<header class="header">
    <div class="container">
        <a class="logo">
            <img src="img/partials/header/header-logo.svg" alt="">
        </a>
        <nav class="menu hidden">
            <ul class="list">
                <li class="item">
                    <a class="link-home link" href="/">Home</a>
                </li>
                <li class="item">
                    <a class="link-movies link" href="/">Movies</a>
                </li>
                <li class="item">
                    <a class="link-music link" href="/">Music</a>
                </li>
                <li class="item">
                    <a class="link-games link" href="/">Games</a>
                </li>
                <li class="item">
                    <a class="link-audiobooks link" href="/">Audiobooks</a>
                </li>
                <li class="item">
                    <a class="link-register link" href="/">
                        <button class="register-btn">Register</button>
                    </a>
                </li>
            </ul>
        </nav>
        <button class="menu_toggle hidden">
            <i class="bi bi-list"></i>
        </button>
    </div>
</header>