<footer class="footer">
    <div class="container">
        <p class="copyright">© 2012-2023 HotBotVPN.com</p>
        <ul class="links-1">
            <li><a href="https://hotbotvpn.com/about/" class="text-small">About HotBot VPN</a>

            </li>
            <li><a href="https://hotbotvpn.com/" class="text-small">Go to Homepage</a>

            </li>
        </ul>
        <ul class="links-2">
            <li><a href="https://hotbotvpn.com/privacy/" class="text-small no-dot">Privacy</a>

            </li>
            <li><a href="https://hotbotvpn.com/cookie/" class="text-small">Cookie Policy</a>

            </li>
            <li><a href="https://hotbotvpn.com/terms/" class="text-small">Terms of Service</a>

            </li>
        </ul>
    </div>
</footer>