<footer class="footer">
    <div class="footer-container">
        <div class="footer-container-logo">
            <img src="img/partials/footer/footer-logo.svg" alt="">
        </div>
        <div class="footer-container-copyright">
            <small>Copyright © 2023 Private Mode. All rights reserved</small>
        </div>
        <div class="footer-container-links">
            <ul class="footer-container-links-list">
                <li>
                    <a href="privacy.html">Privacy Policy</a>
                </li>
                <li>
                    <a href="tnc.html">EULA/Terms</a>
                </li>
            </ul>
        </div>
    </div>
</footer>