<header class="header">
    <div class="container">
        <a class="logo" href="/">
            <img src="../svg/partials/header/logo.svg" alt="Website Logo">
            <p>Top Content Entertainment</p>
        </a>
        <nav class="menu hidden">
            <ul class="list">
                <li class="item-home item">
                    <a class="link-home link" href="/">Home</a>
                </li>
                <li class="item-movies item">
                    <a class="link-movies link" href="/">Movies</a>
                </li>
                <li class="item-music item">
                    <a class="link-music link" href="/">Music</a>
                </li>
                <li class="item-games item">
                    <a class="link-games link" href="/">Games</a>
                </li>
                <li class="item-audiobooks item">
                    <a class="link-audiobooks link" href="/">Audiobooks</a>
                </li>
                <li class="item-register item">
                    <a class="link-register link" href="/">
                        <button class="register-btn">Register</button>
                    </a>
                </li>
            </ul>
        </nav>
        <button class="menu_toggle hidden">
            <!-- <i class="bi bi-list"></i> -->
            <div class="hamburger" id="hamburger-1">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </div>
        </button>
    </div>
</header>