<header class="header">
    <div class="container">
        <a class="logo" onclick="showPopup()">
            <img src="svg/partials/header/logo.svg" alt="Website Logo">
            <p>Top Content Entertainment</p>
        </a>
        <nav class="menu hidden">
            <ul class="list">
                <li class="item-home item">
                    <button class="link-home link" onclick="showPopup()">Home</button>
                </li>
                <li class="item-movies item">
                    <button class="link-movies link" onclick="showPopup()">Movies</button>
                </li>
                <li class="item-music item">
                    <button class="link-music link" onclick="showPopup()">Music</button>
                </li>
                <li class="item-games item">
                    <button class="link-games link" onclick="showPopup()">Games</button>
                </li>
                <li class="item-audiobooks item">
                    <button class="link-audiobooks link" onclick="showPopup()">Audiobooks</button>
                </li>
                <li class="item-register item">
                    <button class="register-btn" onclick="showPopup()">Register</button>
                </li>
            </ul>
        </nav>
        <button class="menu_toggle hidden">
            <!-- <i class="bi bi-list"></i> -->
            <div class="hamburger" id="hamburger-1">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </div>
        </button>
    </div>
</header>