<!-- * Meta Tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="HotBot VPN for unlimited online secure and private content from anywhere in the world. Try 30 days risk-free. No Logs. Advanced encryption for your online activity">

<script>
    window.dataLayer = window.dataLayer || [];
    </script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MTR73FB');</script>
<!-- End Google Tag Manager -->

<!-- * Linking Compiled Stylesheet -->
<link rel="stylesheet" href="css/index.css">

<!-- * Favicon -->
<link rel="icon" type="image/x-icon" href="img/favicon.ico">
 