<section class="section-about">
    <div class="text">
        <div class="head">
            <h2>Endless movies, music sports, audiobooks, games and more!</h2>
        </div>
        <div class="body">
            <p>Thousands of options ready to stream and enjoy right now. Browse our movies, music, sports, audiobooks and games library. Thousands of titles to choose from. Hundreds of entertainment titles with unlimited access. A book, music, sports, games and movie lover’s dream! Thousands of the most popular options to go anywhere with you. Start your free membership now!</p>
            <img src="../img/pages/home/section_about-graphic.png" alt="Endless movies, music, sports, audiobooks, games and more!">
        </div>
    </div>
    <div class="cards">
        <ul class="list">
            <div class="item-secure item">
                <div class="head">
                    <i class="bi bi-shield-lock"></i>
                    <h3>Secure</h3>
                </div>
                <div class="body">
                    <p>Secure connection ensures that you can access your content in a safe & secure way</p>
                </div>
            </div>
            <div class="item-premium item">
                <div class="head">
                    <i class="bi bi-star-fill"></i>
                    <h3>Premium</h3>
                </div>
                <div class="body">
                    <p>Our premium content gives you access to the latest and top content across all our verticals</p>
                </div>
            </div>
            <div class="item-all_devices item">
                <div class="head">
                    <i class="bi bi-display"></i>
                    <h3>All devices</h3>
                </div>
                <div class="body">
                    <p>Connect and stream your content across all your devices, anytime, anywhere</p>
                </div>
            </div>
        </ul>
    </div>
    <div class="button">
        <button class="btn-continue">Continue</button>
    </div>
</section>