<section class="section-content_tiles">
    <ul class="list">
        <li class="item-movies item">
            <div class="text">
                <h3>Movies</h3>
            </div>
            <div class="img">
                <img src="../img/pages/home/section_content_tiles-movies_images.png" alt="Movies Samples">
            </div>
        </li>
        <li class="item-music item">
            <div class="text">
                <h3>Music</h3>
            </div>
            <div class="img">
                <img src="../img/pages/home/section_content_tiles-music_images.png" alt="Music Samples">
            </div>
        </li>
        <li class="item-games item">
            <div class="text">
                <h3>Games</h3>
            </div>
            <div class="img">
                <img src="../img/pages/home/section_content_tiles-games_images.png" alt="Games Samples">
            </div>
        </li>
        <li class="item-audiobooks item">
            <div class="text">
                <h3>Audiobooks</h3>
            </div>
            <div class="img">
                <img src="../img/pages/home/section_content_tiles-audiobooks_images.png" alt="Audibooks Samples">
            </div>
        </li>
    </ul>
</section>