<section class="section-about">
    <div class="head">
        <h2>Online streaming content from any region, wherever you live!</h2>
    </div>
    <div class="body">
        <p>Our VPN gives you the ability to appear connected from country or region over the globe, which allows you to access certain geographical-restricted streaming content. An online streaming lover’s dream! All while keeping your online connection secure and untraceable. Start your membership now!</p>
        <img src="img/pages/home/section_about-graphic.webp" alt="Endless movies, music, sports, audiobooks, games and more!">
    </div>
</section>