<section class="section-about">
    <div class="head">
        <h2>Endless movies, music sports, audiobooks, games and more!</h2>
    </div>
    <div class="body">
        <p>Thousands of options ready to stream and enjoy right now. Browse our movies, music, sports, audiobooks and games library. Thousands of titles to choose from. Hundreds of entertainment titles with unlimited access. A book, music, sports, games and movie lover’s dream! Thousands of the most popular options to go anywhere with you. Start your free membership now!</p>
        <img src="img/pages/home/section_about-graphic.webp" alt="Endless movies, music, sports, audiobooks, games and more!">
    </div>
</section>