<section class="section-bundle_banner">
    <div class="head">
         <h2>The best online security, privacy and performance you’ll find.</h2>
    </div>
    <div class="body">
        <ul class="list">
            <li class="item-1 item">
                <p>Get connected with one easy click on any device</p>
            </li>
            <li class="item-2 item">
                <p>Security for the whole family with up to 6 connections at once</p>
            </li>
            <li class="item-3 item">
                <p>Unrestricted access wherever you are</p>
            </li>
            <li class="item-4 item">
                <p>Keep your online activity private and stress free</p>
            </li>
            <li class="item-5 item">
                <p>Start your free VPN membership, cancel anytime</p>
            </li>
        </ul> <a class="btn-continue popup-trigger">Continue</a>
    </div>
</section>