<section class="section-bundle_banner">
    <div class="head">
        <h2>This is the biggest and best media bundle you’ll find.</h2>
    </div>
    <div class="body">
        <ul class="list">
            <li class="item-1 item">
                <p>Just press play and follow your mood with books or movies.</p>
            </li>
            <li class="item-2 item">
                <p>Stories, shows, sports, games and music you’ll love.</p>
            </li>
            <li class="item-3 item">
                <p>The whole family can use this service at the same time ... on up to 8 different devices at once.</p>
            </li>
            <li class="item-4 item">
                <p>Take it all with you everywhere you go.</p>
            </li>
            <li class="item-5 item">
                <p>Something for everyone.</p>
            </li>
            <li class="item-6 item">
                <p>Start your free membership, cancel anytime</p>
            </li>
        </ul>
    </div>
</section>