<section class="section-content">
    <ul class="list">
        <li class="item-unrestricted item">
            <div class="text">
                <h3>Unrestricted Entertainment</h3>
                <p>Many streaming services restrict movies, tv shows, music and more to certain parts of the world, for example USA or UK only. Our solution allows you to connect from over 2000 locations around the globe, ensuring you can always get to where you want to go</p>
            </div>
            <div class="image">
                <img src="svg/pages/home/content-2/streaming.webp" alt="Samples of Movies">
            </div>
        </li>
        <li class="item-privacy item">
            <div class="text">
                <h3>Instant Privacy & Security</h3>
                <p>Your IP address is visible to others with essentially everything you do online. With our VPN solution, your IP address is automatically shielded from 3rd parties and unwanted eavesdroppers, keeping your online session private and secure.</p>
            </div>
            <div class="image">
                <img src="svg/pages/home/content-2/security.webp" alt="Samples of Movies">
                <!-- <img src="img/pages/home/section_content-music_images.webp" alt="Samples of Music"> -->
            </div>
        </li>
        <li class="item-anonymous item">
            <div class="text">
                <h3>Anonymous Browsing</h3>
                <p>With our VPN solution, you become anonymous online for everything you do, not only is your IP address hidden, but our Military-Grade AES-256 Encryption prevents unwanted hackers and sniffers from intercepting everything you do online.</p>
            </div>
            <div class="image">
                <img src="svg/pages/home/content-2/anonymous.webp" alt="Samples of Movies">
            </div>
        </li>
        <li class="item-fast item">
            <div class="text">
                <h3>Incredibly Fast Connections</h3>
                <p>You’ll have over 2000 server locations around the world at your fingertips, offering the maximum download speeds possible. This means you have unlimited speed, bandwidth and no restrictions all with up to 6 of your devices at once!</p>
            </div>
            <div class="image">
                <img src="svg/pages/home/content-2/speed.webp" alt="Samples of Movies">
            </div>
        </li>
    </ul>
</section>