<section class="section-content">
    <ul class="list">
        <li class="item-movies item">
            <div class="text">
                <h3>Movies</h3>
                <p>Enjoy a vast collection of movies. Every genre is covered you can enjoy comedies, horror and action movies, rom-coms and old classics. The content is continuously updated and specially curated for your viewing pleasure. Find new titles to enjoy or stick with the classics – the choice is yours.</p>
            </div>
            <div class="image">
                <img src="img/pages/home/section_content-movies_images.png" alt="Samples of Movies">
            </div>
        </li>
        <li class="item-music item">
            <div class="text">
                <h3>Music</h3>
                <p>Enjoy an extensive music collection to cover your every music need. From the latest top charts to the classics of every decade, from pop to rock to country. Playlists, music documentaries and concerts ensure you are always entertained.</p>
            </div>
            <div class="image">
                <img src="img/pages/home/section_content-music_images.png" alt="Samples of Music">
            </div>
        </li>
        <li class="item-games item">
            <div class="text">
                <h3>Games</h3>
                <p>Enjoy the very best in gaming when you sign up. There is a wide variety of cloud games for every type of gamer: strategy, action, puzzle, casual… every genre you can think of is there.</p>
            </div>
            <div class="image">
                <img src="img/pages/home/section_content-games_images.png" alt="Samples of Games">
            </div>
        </li>
        <li class="item-audiobooks item">
            <div class="text">
                <h3>Audiobooks</h3>
                <p>Listen to as many audiobooks as you want, any time you want and wherever you want, it’s all included in your membership! Over 130,000 titles from top authors, a vast library of best-sellers fiction and non-fiction, self-help and reference audiobooks, must-listen classics or older literary gems.</p>
            </div>
            <div class="image">
                <img src="img/pages/home/section_content-audiobooks_images.png" alt="Samples of Audiobooks">
            </div>
        </li>
    </ul>
</section>