<section class="section-content">
    <ul class="list">
        <li class="item-entertainment item">
            <div class="text">
                 <h3>Unrestricted Entertainment</h3>
                <p>Many streaming services restrict movies, tv shows, music and more to certain
                    parts of the world, for example USA or UK only. Our solution allows you
                    to connect from over 2,000 locations around the globe, ensuring you can
                    always get to where you want to go.</p>
            </div>
            <div class="image">
                <picture>
                        <source srcset="img/section_content-entertainment.webp" type="image/webp">
                        <source srcset="img/section_content-entertainment.png" type="image/png">
                            <img src="img/section_content-entertainment.png" alt="Unrestricted Entertainment Graphic" width="380" height="247">
                </picture>
            </div>
        </li>
        <li class="item-security item">
            <div class="text">
                 <h3>Instant Privacy & Security</h3>
                <p>Your IP address is visible to others with essentially everything you do
                    online. With our VPN service, your IP address is automatically shielded
                    from 3rd parties and unwanted eavesdroppers, keeping your VPN online session
                    private and secure.</p>
            </div>
            <div class="image">
                <picture>
                        <source srcset="img/section_content-security.webp" type="image/webp">

                        <source srcset="img/section_content-security.png" type="image/png">

                        <img src="img/section_content-security.png" alt="Instant Privacy & Security Graphic" width="380" height="247">
                </picture>
            </div>
        </li>
        <li class="item-anonymous item">
            <div class="text">
                 <h3>Anonymous Browsing</h3>
                <p>With our VPN app, you become anonymous online for everything you
                    do, not only is your IP address hidden, but our Military-Grade AES-256
                    Encryption prevents unwanted hackers and sniffers from intercepting everything
                    you do online. Get the best VPN now.</p>
            </div>
            <div class="image">
                <picture>
                        <source srcset="img/section_content-anonymous.webp" type="image/webp">
                        <source srcset="img/section_content-anonymous.png" type="image/png">

                            <img src="img/section_content-anonymous.png" alt="Anonymous Browsing Graphic" width="380" height="247">
                </picture>
            </div>
        </li>
        <li class="item-fast item">
            <div class="text">
                 <h3>Incredibly Fast Connections</h3>
                <p>You’ll have over 2,000 server locations around the world at your fingertips,
                    offering the maximum download speeds possible. This means you have unlimited
                    speed, bandwidth and no restrictions all with up to 6 of your devices at
                    once! The top VPN for PC and smartphones.                            </p>
            </div>
            <div class="image">
                <picture>
                        <source srcset="img/section_content-fast.webp" type="image/webp">
                        <source srcset="img/section_content-fast.png" type="image/png">

                            <img src="img/section_content-fast.png" alt="Incredibly Fast Connections Graphic" width="380" height="247">
                </picture>
            </div>
        </li>
    </ul>
</section>