<section class="section-content_cards">
    <ul class="list">
        <li class="item-entertainment item">
            <div class="img">
                <svg class="icon"><use xlink:href="#section_content_cards-entertainment"></use></svg>
            </div>
            <div class="text">
                <h3>Entertainment</h3>
                <p>Bypass restrictions from streaming services, sporting events, and any other online entertainment with a click of a button!</p>
            </div>
        </li>
        <li class="item-privacy item">
            <div class="img">
                <svg class="icon"><use xlink:href="#section_content_cards-privacy"></use></svg>
            </div>
            <div class="text">
                <h3>Privacy</h3>
                <p>Be completely anonymous when using the internet, hide your IP address, the sites you visit and the transactions you make, leave no trace!</p>
            </div>
        </li>
        <li class="item-security item">
            <div class="img">
                <svg class="icon"><use xlink:href="#section_content_cards-security"></use></svg>
            </div>
            <div class="text">
                <h3>Security</h3>
                <p>AES-256 is the military standard for encryption, it protects and shields everything you do online, wherever you are connecting from!</p>
            </div>
        </li>
        <li class="item-convenience item">
            <div class="img">
                <svg class="icon"><use xlink:href="#section_content_cards-convenience"></use></svg>
            </div>
            <div class="text">
                <h3>Convenience</h3>
                <p>Easy to use apps on every popular platform means you can get up and running in only a few minutes! Just create your account and get connected!</p>
            </div>
        </li>
    </ul>
</section>