<section class="section-features">
    <div class="cards">
        <ul class="list">
            <li class="item-secure item">
                <div class="head">
                    <svg class="icon">
                        <use xlink:href="#section_features-secure"></use>
                    </svg>
                    <h3>Secure</h3>
                </div>
                <div class="body">
                    <p>Military-Grade AES-256 Encryption takes your activity and scrambles it
                        to outside users, so no one aside from those authorized, can see what you’re
                        doing.</p>
                </div>
            </li>
            <li class="item-speed item">
                <div class="head">
                    <svg class="icon">
                        <use xlink:href="#section_features-speed"></use>
                    </svg>
                    <h3>Speed</h3>
                </div>
                <div class="body">
                    <p>The fastest servers deliver the highest speeds available via your VPN online
                        connection, so you can browse the web and stream video just like normal.</p>
                </div>
            </li>
            <li class="item-all_devices item">
                <div class="head">
                    <svg class="icon">
                        <use xlink:href="#section_features-all_devices"></use>
                    </svg>
                    <h3>All devices</h3>
                </div>
                <div class="body">
                    <p>Connect from any and all of your devices including Android, iOS, Windows
                        and Mac. Up to 6 simultaneous VPN protected devices with a single account!</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="button"> <a href="/order-free/" class="btn-continue popup-trigger">Continue</a>
    </div>
</section>