<section class="section-features">
    <div class="cards">
        <ul class="list">
            <div class="item-secure item">
                <div class="head">
                    <i class="bi bi-shield-lock"></i>
                    <h3>Secure</h3>
                </div>
                <div class="body">
                    <p>Secure connection ensures that you can access your content in a safe & secure way</p>
                </div>
            </div>
            <div class="item-premium item">
                <div class="head">
                    <i class="bi bi-star-fill"></i>
                    <h3>Premium</h3>
                </div>
                <div class="body">
                    <p>Our premium content gives you access to the latest and top content across all our verticals</p>
                </div>
            </div>
            <div class="item-all_devices item">
                <div class="head">
                    <i class="bi bi-display"></i>
                    <h3>All devices</h3>
                </div>
                <div class="body">
                    <p>Connect and stream your content across all your devices, anytime, anywhere</p>
                </div>
            </div>
        </ul>
    </div>
    <div class="button">
        <button class="btn-continue">Continue</button>
    </div>
</section>