<section class="section-hero">
    <div class="intro">
        <h1 class="txt-title-1 txt-title">Online <span class="txt-bold">Registration</span></h1>
        <h1 class="txt-title-2 txt-title">Mobile <span class="txt-bold">Registration</span></h1>
        <p class="txt-subtitle">Access <span class="txt-bold">the best digital content</span> from any region</p>
        <button class="btn-continue" onclick="showPopup()">Continue</button>
        <p class="txt-compatibility-1 txt-compatibility"><span class="green_dot"></span> Browser: compatible</p>
        <p class="txt-compatibility-2 txt-compatibility"><span class="green_dot"></span> All devices compatible</p>
    </div>
    <div class="content_type">
        <ul class="list">
            <li class="item-movies item">
                <img src="svg/section_hero-movies.svg" alt="Movies Icon">
                <p>Movies</p>
            </li>
            <li class="item-tv item">
                <img src="svg/section_hero-tv_shows.svg" alt="TV Shows Icon">
                <p>TV Shows</p>
            </li>
            <li class="item-anonymous item">
                <img src="svg/section_hero-anonymous.svg" alt="Anonymous Icon">
                <p>Anonymous</p>
            </li>
            <li class="item-fast item">
                <img src="svg/section_hero-fast.svg" alt="Fast Icon">
                <p>Fast</p>
            </li>
        </ul>
    </div>
    <div class="steps">
        <h2 class="txt-instructions">Register in 3 easy steps</h2>
        <ol class="list">
            <li class="item-1 item">
                <div class="step_number"><span>1</span></div>
                <div class="step_text">Create Account</div>
            </li>
            <li class="item-2 item">
                <div class="step_number"><span>2</span></div>
                <div class="step_text">Activate Account</div>
            </li>
            <li class="item-3 item">
                <div class="step_number"><span>3</span></div>
                <div class="step_text">Get Connected</div>
            </li>
        </ol>
    </div>
</section>