<section class="section-hero">
    <div class="intro">
        <h1 class="txt-title-1 txt-title">Online <span class="txt-bold">Registration</span></h1>
        <h1 class="txt-title-2 txt-title">Mobile <span class="txt-bold">Activation</span></h1>
        <a href="#" class="btn-continue popup-trigger">Continue</a>
        <p class="txt-compatibility-1 txt-compatibility"><span class="green_dot"></span> Your Connection: Fast</p>
        <p class="txt-compatibility-2 txt-compatibility"><span class="green_dot"></span> All devices compatible</p>
    </div>
    <div class="content_type">
        <ul class="list">
            <li class="item-streaming item">
                <svg class="icon">
                    <use xlink:href="#section_hero-streaming"></use>
                </svg>
                <p>Streaming</p>
            </li>
            <li class="item-tv item">
                <svg class="icon">
                    <use xlink:href="#section_hero-tv_shows"></use>
                </svg>
                <p>TV Shows</p>
            </li>
            <li class="item-anonymous item">
                <svg class="icon">
                    <use xlink:href="#section_hero-anonymous"></use>
                </svg>
                <p>Anonymous</p>
            </li>
            <li class="item-fast item">
                <svg class="icon">
                    <use xlink:href="#section_hero-fast"></use>
                </svg>
                <p>Fast</p>
            </li>
        </ul>
    </div>
    <div class="steps">
        <h2 class="txt-instructions">Access in 3 easy steps</h2>
        <ol class="list">
            <li class="item-1 item">
                <div class="step_number">
                    <span>1</span>
                </div>
                <div class="step_text">Create Account</div>
            </li>
            <li class="item-2 item">
                <div class="step_number">
                    <span>2</span>
                </div>
                <div class="step_text">Activate</div>
            </li>
            <li class="item-3 item">
                <div class="step_number">
                    <span>3</span>
                </div>
                <div class="step_text">Get Connected</div>
            </li>
        </ol>
    </div>
    <div class="bottom">
        <h2>Unlimited online secure and private content from anywhere in the world!</h2>
    </div>
    <div class="img-bg">
        <svg class="bg-left bg">
            <use xlink:href="#section_hero-bg_left"></use>
        </svg>
        <svg class="bg-right bg">
            <use xlink:href="#section_hero-bg_right"></use>
        </svg>
    </div>
</section>