<section class="section-hero">
    <div class="intro">
        <h1 class="txt-title-1 txt-title">Online <span class="txt-bold">Registration</span></h1>
        <h1 class="txt-title-2 txt-title">Mobile <span class="txt-bold">Registration</span></h1>
        <p class="txt-subtitle">Access <span class="txt-bold">the best digital content</span> for your business and hobbies</p>
        <button class="btn-continue" onclick="showPopup()">Continue</button>
        <p class="txt-compatibility-1 txt-compatibility"><span class="green_dot"></span> Browser: compatible</p>
        <p class="txt-compatibility-2 txt-compatibility"><span class="green_dot"></span> All devices compatible</p>
    </div>
    <div class="content_type">
        <ul class="list">
            <li class="item-movies item">
                <i class="bi bi-film"></i>
                <p>Movies</p>
            </li>
            <li class="item-music item">
                <i class="bi bi-music-note-beamed"></i>
                <p>Music</p>
            </li>
            <li class="item-games item">
                <i class="bi bi-controller"></i>
                <p>Games</p>
            </li>
            <li class="item-audiobooks item">
                <i class="bi bi-soundwave"></i>             
                <p>Audiobooks</p>
            </li>
        </ul>
    </div>
    <div class="steps">
        <h2 class="txt-instructions">Register in 3 easy steps</h2>
        <ol class="list">
            <li class="item-1 item">
                <div class="step_number"><span>1</span></div>
                <div class="step_text">Create Account</div>
            </li>
            <li class="item-2 item">
                <div class="step_number"><span>2</span></div>
                <div class="step_text">Verify Account</div>
            </li>
            <li class="item-3 item">
                <div class="step_number"><span>3</span></div>
                <div class="step_text">Access Content</div>
            </li>
        </ol>
    </div>
</section>