<section class="section-join_us">
    <div class="content">
        <div class="text">
            <h2>Join us and discover what we have to offer</h2>
            <ul class="list">
                <li class="item-1 item">
                    <img src="svg/section_join_us-entertainment.svg" alt="Entertainment Icon">
                    <p>Unlock regional restricted streaming movies,tv shows and sports</p>
                </li>
                <li class="item-2 item">
                    <img src="svg/section_join_us-articles.svg" alt="Articles Icon">
                    <p>Unlock news articles and sites restricted to other regions</p>
                </li>
                <li class="item-3 item">
                    <img src="svg/section_join_us-anonymous.svg" alt="Anonymous Icon">
                    <p>Keep your connection private, anonymous and secure at all times</p>
                </li>
                <li class="item-4 item">
                    <img src="svg/section_join_us-security.svg" alt="Security Icon">
                    <p>Secure all your devices such as Android, iOS, Windows & Mac</p>
                </li>
                <li class="item-5 item">
                    <img src="svg/section_join_us-global.svg" alt="Global Icon">
                    <p>Use it from anywhere; at home, office, coffee shop, or on vacation</p>
                </li>
            </ul>
        </div>
        <div class="img">
            <picture>
                <source srcset="img/section_join_us-graphic.webp">
                <source srcset="img/section_join_us-graphic.png">
                <img src="img/section_join_us-graphic.png" alt="Join Us Graphic">
            </picture>
        </div>
    </div>
    <div class="button">
        <button class="btn-continue" onclick="showPopup()">Continue</button>
    </div>
</section>