<section class="section-join_us">
    <div class="content">
        <div class="text">
            <h2>Join us and discover what we have to offer</h2>
            <ul class="list">
                <li class="item-1 item">
                    <img src="../svg/pages/home/icon-audiobook.svg" alt="Icon for Audiobooks">
                    <p>Get a lifetime of audiobooks ... Over 130,000 to choose from.</p>
                </li>
                <li class="item-2 item">
                    <img src="../svg/pages/home/icon-music.svg" alt="Icon for Music">
                    <p>Over 100,000 song titles from synth to pop to country to piano.</p>
                </li>
                <li class="item-3 item">
                    <img src="../svg/pages/home/icon-film.svg" alt="Icon for Movies">
                    <p>Keep up with all the newest movies and savor old classics.</p>
                </li>
                <li class="item-4 item">
                    <img src="../svg/pages/home/icon-free.svg" alt="Icon for Risk-Free">
                    <p>Risk free, cancel anytime.</p>
                </li>
                <li class="item-5 item">
                    <img src="../svg/pages/home/icon-tv.svg" alt="Icon for TV">
                    <p>Watch or listen from wherever you are. No matter where.</p>
                </li>
                <li class="item-6 item">
                    <img src="../svg/pages/home/icon-sports.svg" alt="Icon for Sports">
                    <p>Thousands of exciting sporting events from around the world.</p>
                </li>
            </ul>
        </div>
        <div class="img">
            <img src="../img/pages/home/section_join_us-graphic.png" alt="Join Us Graphic">
        </div>
    </div>
    <div class="button">
        <button class="btn-continue" onclick="showPopup()">Continue</button>
    </div>
</section>