<section class="section-join_us">
    <div class="content">
        <div class="text">
            <h2>Get your free VPN app and discover what we have to offer</h2>
            <ul class="list">
                <li class="item-1 item">
                    <svg class="icon">
                        <use xlink:href="#section_join_us-entertainment"></use>
                    </svg>
                    <p>Unlock regional restricted streaming movies, tv shows and sports</p>
                </li>
                <li class="item-2 item">
                    <svg class="icon">
                        <use xlink:href="#section_join_us-articles"></use>
                    </svg>
                    <p>Unlock news articles and sites restricted to other regions</p>
                </li>
                <li class="item-3 item">
                    <svg class="icon">
                        <use xlink:href="#section_join_us-anonymous"></use>
                    </svg>
                    <p>VPN protection keeps your connection private, anonymous and secure at all times</p>
                </li>
                <li class="item-4 item">
                    <svg class="icon">
                        <use xlink:href="#section_join_us-security"></use>
                    </svg>
                    <p>Secure all your devices such as Android, iOS, Windows (PC) & Mac</p>
                </li>
                <li class="item-5 item">
                    <svg class="icon">
                        <use xlink:href="#section_join_us-global"></use>
                    </svg>
                    <p>Get VPN protection from anywhere; at home, office, coffee shop, or on vacation</p>
                </li>
            </ul>
        </div>
        <div class="img">
            <picture>
                <source srcset="img/section_join_us-graphic.webp" type="image/webp">
                <source srcset="img/section_join_us-graphic.png" type="image/png">
                <img src="img/section_join_us-graphic.png" alt="Join Us Graphic">
            </picture>
        </div>
    </div>
    <div class="button"> <a class="btn-continue popup-trigger">Continue</a>
    </div>
</section>