<section class="section-terms">
    <div class="text">
        <p>By submitting this form, you agree to our <a href="https://hotbotvpn.com/terms/" target="_blank">Terms & Conditions</a>, and <a href="https://hotbotvpn.com/privacy/" target="_blank">Privacy Policy</a>. Your free trial with HotBot VPN starts on January 23, 2023 and will end on January 29, 2023. Check your email for reminders about your trial period status. You can cancel anytime. Otherwise, starting on January 29, 2023 you will be billed ₱540.17//mo.</p>
    </div>
</section>